/* ===================
   INPUT GRID
=================== */

.cob-grid {
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .cob-grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .cob-grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Measurement units (inches/cm) */
.cob-measure-unit {
    display: inline-block;
    margin-left: .25rem;
    color: #888;
    font-size: .8rem;
}
